<div id="content-presenter">
    <a href="<%= baseURL + basepath %>/paint">Dessiner!</a>
    <% if(data.drawings && data.drawings.length) { %>
    <table class="table table-bordered">
        <tbody>

            <% for(var i = 0; i < data.drawings.length; i++) { %>
            <tr>
                <td>
                    <img src="<%= data.drawings[i].picture %>" style="width: 30px; height:30px;" />
                </td>
                <td>
                    <span><%= data.drawings[i].name || 'Dessin (sans nom) ' + i  %></span>
                </td>
                <td>
                    <div>
                        <a href="<%= baseURL + basepath %>/<%= data.drawings[i].id %>">Voir</a>
                    </div>
                </td>
                <td>
                    <form action="<%= baseURL + basepath %>/<%= data.drawings[i].id %>" method="delete">
                        <input type="submit" value="Supprimer" />
                    </form>
                </td>
            </tr>
            <% } %>
        </tbody>
    </table>
    <% } else {%>
    <em>Pas encore de dessin!</em>
    <% } %>
</div>