<div id="content-presenter">
    <div class="panel">
        <a class="btn btn-default" href="<%= baseURL + basepath %>/paint">Dessiner</a>
    </div>

    <% if(data.drawings && data.drawings.length) { %>
    <table class="table table-bordered">
        <tbody>

            <% for(var i = 0; i < data.drawings.length; i++) { %>
            <tr>
                <td>
                    <%= i %>
                </td>
                <td>
                    <img src="<%= data.drawings[i].picture %>" style="width: 30px; height:30px;" />
                </td>
                <td>
                    <span><%= data.drawings[i].name || 'Dessin (sans nom)'  %></span>
                </td>
                <td>
                    <div>
                        <a class="btn btn-success" href="<%= baseURL + basepath %>/<%= data.drawings[i].id %>">Voir</a>
                    </div>
                </td>
                <td>
                    <form action="<%= baseURL + basepath %>/<%= data.drawings[i].id %>" method="delete">
                        <input class="btn btn-danger" type="submit" value="Supprimer" />
                    </form>
                </td>
            </tr>
            <% } %>
        </tbody>
    </table>
    <% } else {%>
    <div>
        <em>Pas encore de dessin!</em>
    </div>
    <% } %>
</div>