<% var isNew = data.email === undefined %>
<% function convertDate(inputFormat) {
                    function pad(s) { return (s < 10) ? '0' + s : s; }
                    var d = new Date(inputFormat);
                    return [d.getFullYear(), pad(d.getMonth() + 1), pad(d.getDate())].join('-');
                }
%>

<h2><% title %></h2>

<form class="inscription" method="post" name="inscription">

    <span class="required_notification">Les champs obligatoires sont indiqués par *</span>
    <ul>
        <li>
            <label for="email">E-mail :</label>
            <input type="email" name="email" id="email" autofocus required
                   value="<% if (!isNew){ %><%= data.email %><% } %>" />
            <span class="form_hint">Format attendu "name@something.com"</span>
        </li>

        <% if (isNew){ %>
        <% include pwd_validation %>
        <% } %>

        <li>
            <label for="firstname">Prénom :</label>
            <input type="text" name="firstname" id="firstname" value="<% if (!isNew){ %><%= data.firstname %><% } %>" required placeholder="Votre prénom..." />
        </li>
        <li>
            <label for="name">Nom :</label>
            <input type="text" name="name" id="name" value="<% if (!isNew){ %><%= data.name %><% } %>" placeholder="Votre nom..." />
        </li>
        <li>
            <label for="tel">Telephone :</label>
            <input type="tel" name="tel" id="tel" value="<% if (!isNew){ %><%= data.tel  %><% } %>" />
        </li>
        <li>
            <label for="website">Site :</label>
            <input type="url" name="website" id="website" value="<% if (!isNew){ %><%= data.website %><% } %>" />
        </li>
        <li>
            <label for="city">Ville :</label>
            <input type="text" name="city" id="city" placeholder="Votre ville..." value="<% if (!isNew){ %><%= data.city  %><% } %>" />
        </li>
        <li>
            <label for="sexM">H</label>
            <input type="radio" name="sexe" id="sexM" value="H" <% if(!isNew && data.sexe && data.sexe === "H"){ %> checked <% } %> />
        </li>
        <li>
            <label for="sexF">F</label>
            <input type="radio" name="sexe" id="sexF" value="F" <% if(!isNew && data.sexe && data.sexe === "F"){ %> checked <% } %> />
        </li>
        <li>
            <label for="birthdate">Date de naissance:</label>
            <script>

                computeAge = function (e) {
                    try {
                        console.log(document.getElementById("birthdate").value)
                        var years = new Date() - new Date(document.getElementById("birthdate").value);
                        document.getElementById("age").value = new Date(years).getFullYear() - 1970;
                    } catch (e) {
                        console.log(e);
                        // supprimez ici la valeur de l'élément age
                        document.getElementById("age").value = null;
                    }
                }

            </script>
            <input type="date" name="birthdate" id="birthdate" placeholder="JJ/MM/AAAA" required onchange="computeAge()"
                   value="<%if(!isNew){%><%=convertDate(data.birthdate)%><%}%>" />
            <span class="form_hint">Format attendu "JJ/MM/AAAA"</span>
        </li>
        <li>
            <label for="age">Age:</label>
            <input type="number" name="age" id="age" disabled />
            <!-- à quoi sert l'attribut disabled ? -->
            <!--A eempêcher des actions utilisateurs sur ce champ-->
        </li>
        <li>
            <label for="size">Taille :</label>
            <input type="range" name="taille" id="size" min="0" max="2.50" step="0.01" value="<% if (!isNew){ %><%= data.taille %><% } %>" />
        </li>
        <li>
            <label for="color">Couleur préférée :</label>
            <input type="color" name="couleur" id="color" value="<% if (!isNew){ %><%= data.couleur %><% } %>" />
        </li>
        <% if(!isNew){ %>
        <% if(admin){
        %>
        <li>
            <input type="radio" name="role" id="role" value="Admin" <% if(data.role){ %> checked <% } %> />
        </li>
        <% } %>
        <% } %>
        <li>
            <label for="profilepicfile">Photo de profil:</label>

            <input type="file" id="profilepicfile" onchange="loadProfilePic(this)" />

            <span class="form_hint">Choisissez une image.</span>

            <input type="hidden" name="profilepic" id="profilepic" />
            <canvas id="preview" width="0" height="0"></canvas>
            <script>

                loadProfilePic = function (e) {
                    // on récupère le canvas où on affichera l'image
                    var canvas = document.getElementById("preview");
                    var ctx = canvas.getContext("2d");
                    // on réinitialise le canvas: on l'efface, et déclare sa largeur et hauteur à 0
                    ctx.fillStyle = "white";
                    ctx.fillRect(0, 0, canvas.width, canvas.height);
                    canvas.width = 0;
                    canvas.height = 0;
                    // on récupérer le fichier: le premier (et seul dans ce cas là) de la liste
                    var file = document.getElementById("profilepicfile").files[0];
                    // l'élément img va servir à stocker l'image temporairement
                    var img = document.createElement("img");
                    // l'objet de type FileReader nous permet de lire les données du fichier.
                    var reader = new FileReader();
                    // on prépare la fonction callback qui sera appelée lorsque l'image sera chargée
                    reader.onload = function (e) {
                        //on vérifie qu'on a bien téléchargé une image, grâce au mime type
                        if (!file.type.match(/image.*/)) {
                            // le fichier choisi n'est pas une image: le champs profilepicfile est invalide, et on supprime sa valeur
                            document.getElementById("profilepicfile").setCustomValidity("Il faut télécharger une image.");
                            document.getElementById("profilepicfile").value = "";
                        }
                        else {
                            // le callback sera appelé par la méthode getAsDataURL, donc le paramètre de callback e est une url qui contient
                            // les données de l'image. On modifie donc la source de l'image pour qu'elle soit égale à cette url
                            // on aurait fait différemment si on appelait une autre méthode que getAsDataURL.
                            img.src = e.target.result;
                            // le champs profilepicfile est valide
                            document.getElementById("profilepicfile").setCustomValidity("");

                            resize(img, canvas);

                            // on dessine l'image dans le canvas à la position 0,0 (en haut à gauche)
                            // et avec une largeur de width et une hauteur de height
                            ctx.drawImage(img, 0, 0, img.width, img.height);

                            // on exporte le contenu du canvas (l'image redimensionnée) sous la forme d'une data url
                            var dataurl = canvas.toDataURL("image/png");
                            // on donne finalement cette dataurl comme valeur au champs profilepic
                            document.getElementById("profilepic").value = dataurl;
                        };
                    }
                    // on charge l'image pour de vrai, lorsque ce sera terminé le callback loadProfilePic sera appelé.
                    reader.readAsDataURL(file);
                }

                function resize(image, canvas) {
                    // A FAIRE: si on garde les deux lignes suivantes, on rétrécit l'image mais elle sera déformée
                    // Vous devez supprimer ces lignes, et modifier width et height pour:
                    //    - garder les proportions,
                    //    - et que le maximum de width et height soit égal à 96
                    var maxWidth = 96,
                        maxHeight = 96,
                        imageWidth = image.width,
                        imageHeight = image.height;


                    if (imageWidth > imageHeight) {
                        if (imageWidth > maxWidth) {
                            imageHeight *= maxWidth / imageWidth;
                            imageWidth = maxWidth;
                        }
                    }
                    else {
                        if (imageHeight > maxHeight) {
                            imageWidth *= maxHeight / imageHeight;
                            imageHeight = maxHeight;
                        }
                    }

                    image.width = imageWidth;
                    image.height = imageHeight;

                    if (canvas) {
                        canvas.width = imageWidth;
                        canvas.height = imageHeight;
                    }
                }
            </script>
        </li>
        <li>
            <input type="submit" value="Soumettre Formulaire">
        </li>
    </ul>
</form>